.form-style-4{
    width: 450px;
    font-size: 16px;
    background: blue;
    padding: 30px 30px 15px 30px;
    border: 5px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Impact;
    font-size: 20px;
    color: white;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
}
.form-style-4 textarea{
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}



.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: blue;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: white;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: red;
}

.form-style-4
{
    color: white;
    text-decoration: none;
    font-size: 3.0vw;
    font-family: Impact;
    text-align: center;
}